apiVersion: apps/v1
kind: Deployment
metadata:
  name: diyfurniture-client
  labels:
    app: diyfurniture-client
spec:
  replicas: 2
  selector:
    matchLabels:
      app: diyfurniture-client
  template:
    metadata:
      labels:
        app: diyfurniture-client
    spec:
      containers:
        - name: client
          image: IMAGE_PLACEHOLDER
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
